.mac-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 720px;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.inner_wrapper {
  position: relative;
  height: calc(100% - 102px);
  margin: 40px 0;
  padding: 0 20px;
}
